@page
@model MyProducts.Areas.DisplayCases.Pages.EditModel

@{
    ViewData["Title"] = "Planning";
}

<div class="d-flex justify-content-between align-items-center mb-2">
    <h1>Planning</h1>

    <div class="d-flex">
        <!--  upload -->
        <label for="file-upload" style="height: 45px;" class="btn btn-primary text-center px-4 d-flex justify-content-center align-items-center mb-0">
            <i data-feather="upload"></i>
            <span class="ms-2">Upload</span>
        </label>
        <input id="file-upload" type="file" style="display: none;">


        <!-- testar -->
        <button type="button" style="height: 45px;" class="btn btn-primary text-center px-4 d-flex justify-content-center align-items-center ms-2" data-toggle="modal" data-target=".bd-example-modal-lg">
            <i data-feather="bar-chart-2"></i>
            <span class="ms-2">Test Planning</span>
        </button>
    </div>
</div>



<div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data" id="displayCaseForm">
                @Html.AntiForgeryToken()
                <div class="form-group mb-3">
                    <label for="name">Display Name</label>
                    <input type="text" asp-for="Name" class="form-control" id="name" />
                </div>
                <div class="form-group mb-3">
                    <label for="shelfs">Shelfs</label>
                    <input type="text" asp-for="ShelfCount" class="form-control" id="shelfs" readonly />
                </div>
                <div class="form-group mb-3">
                    <label for="products per shelf">Products per shelf</label>
                    <input type="text" asp-for="ProductsPerShelf" class="form-control" id="products-per-shelf" readonly />
                </div>
                <div class="form-group mb-4">
                    <select class="form-select form-select-md mb-3" id="product-select">
                        <option value="0" selected>Select a product</option>
                        @foreach (var product in Model.ProductInStock)
                        {
                            <option value="@product.ProductInStockId" data-product-image="@product.Image?.Path" data-product-name="@product.Name">@product.Name</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <div class="d-flex gap-2 ">
                        <button id="btn-submit" type="button" class="btn btn-primary w-100">
                            Save
                        </button>
                        <a asp-page="./Index" class="btn btn-secondary w-100">Go back</a>
                    </div>
                    <!-- Large modal -->
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Compatibility test</h5>
     
                                        <i class="icon-x-circle icon-close close" style="cursor: pointer;" data-feather="x-circle" data-dismiss="modal" aria-label="Close"></i>
                                    
                                </div>


                                <div class="modal-body">
                                    <form method="post" enctype="multipart/form-data">
                                        <div class="d-flex justify-content-between gap-4">
                                            <div class="form-group">
                                                <label for="imageInput">Select the picture of the display case you want to analyze:</label>
                                                <div class="input-group">
                                                    <input hidden type="file" class="form-control-file my-2" id="imageInput" name="TakenPhoto" accept="image/*">
                                                    <div class="form-group">

                                                        <div class="btn-group" role="group">
                                                            <button type="button" class="btn btn-primary mr-2" id="take-photo">Take picture</button>
                                                            <button type="button" class="btn btn-secondary" id="upload-photo">Upload photo</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <img id="imagePreview" width="200" class="img-thumbnail" src="#" alt="Preview" style="display: none;">
                                        </div>
                                        <div class="modal-footer form-group mt-4 mb-0">
                                            <button type="button" class="btn btn-primary" id="submit-test">Test planning</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    @*Fim Modal*@
                </div>
            </form>
        </div>
        <div class="col-md-8 d-flex flex-column align-items-center gap-4">
            <div class="border shadow text-secondary overflow-hidden gap-4 d-flex align-items-center px-4 py-2 justify-content-center" style="border-radius: 26px; width: 85%; background: #CEE3FF;font-size:14px;">
                <i class="icon-info" data-feather="info" style="height: 40px; width: 40px;"></i>
                <p class="m-0 text-justify">On this page, customize your display by placing products in the table. Just click a square, choose a product, and click 'Test Planning' when you're done to check compatibility with your layout.</p>
            </div>
            <div class="d-flex">
                <div class="d-flex flex-column align-items-center">
                    <div class="d-flex flex-column gap-1" id="product-table">
                        @if (Model.TableDisplayCases != null)
                        {
                            @for (int row = 0; row < Model.TableDisplayCases.GetLength(0); row++)
                            {
                                <div class="d-flex gap-1 product-row">
                                    @for (int col = 0; col < Model.TableDisplayCases.GetLength(1); col++)
                                    {
                                        <div class="border p-1 cell d-flex flex-column align-items-center justify-content-center" style="width: 6rem; height: 6rem;"
                                             data-shelf="@Model.TableDisplayCases[row, col]?.Shelf" data-column="@Model.TableDisplayCases[row, col]?.Column"
                                             data-cell-id="@Model.TableDisplayCases[row, col]?.TableDisplayCaseId" data-product-id="@Model.TableDisplayCases[row, col]?.ProductInStockId">
                                            @if (Model.TableDisplayCases[row, col]?.ProductInStockId != null)
                                            {
                                                <div style="width: 70%;">
                                                    <img alt="" class="product-image small-image img-fluid" src="/@Model.TableDisplayCases[row, col].ProductInStock.Image.Path" />
                                                    <i class="icon-plus rounded-circle d-none" data-feather="plus-circle" style="color: grey; height: 40px; width: 40px;"></i>
                                                </div>
                                                <span class="product-name">@Model.TableDisplayCases[row, col].ProductInStock.Name</span>
                                            }
                                            else
                                            {
                                                <div style="width: 70%;">
                                                    <img alt="" class="product-image small-image img-fluid d-none" src="" />
                                                    <i class="icon-plus rounded-circle" data-feather="plus-circle" style="color: grey; height: 40px; width: 40px;"></i>
                                                </div>
                                                <span class="product-name d-none"></span>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </div>
                    <div class="d-flex gap-1 mt-2">
                        <button class="btn-plus-minus fw-bold text-center rounded-circle border-0 shadow p-2 me-3" id="remove-row" style="color: #DC4C64">
                            <i data-feather="minus-circle"></i>
                        </button>
                        <button class="btn-plus-minus fw-bold text-center rounded-circle  border-0 shadow p-2 me-3" id="add-row" style="color:#3B71CA">
                            <i data-feather="plus-circle"></i>
                        </button>
                    </div>
                </div>
                <div class="d-flex flex-column gap-1 ms-2 justify-content-center">
                    <button class=" btn-plus-minus fw-bold text-center rounded-circle  border-0 shadow p-2 me-3" id="add-column" style="color:#3B71CA">
                        <i data-feather="plus-circle"></i>
                    </button>
                    <button class="btn-plus-minus fw-bold text-center rounded-circle  border-0 shadow p-2 me-3" id="remove-column" style="color: #DC4C64">
                        <i data-feather="minus-circle"></i>
                    </button>
                    <div style="height: 2.6rem;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

.text-justify{
    text-align: justify;
    text-justify: inter-word;
}

.modal-content {
    border-radius: 26px;
    overflow: hidden;
}

.modal-header {
    background-color: #E9ECEF; 
}

.icon-close:hover {
    color: #DC3545;
}

.modal-content {
    border-radius: 26px;
}

    


.form-group label {
    margin-bottom: 5px;
}

.btn-group {
    margin-bottom: 20px; 
}

    

.table-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #333; 
    margin-bottom: 10px;
}

.cell {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    text-align: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.cell:hover {
        background-color: rgb(233,236,239);
}
hr {
    margin-top: 20px;
}

.btn-plus-minus{
    transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s; /* Transição suave para todas as propriedades */
}

.btn-plus-minus:hover {
        background-color: #e0e0e0; /* Cor desejada no hover */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Sombra desejada no hover */
        border-color: #e0e0e0; /* Cor da borda desejada no hover */
}
.selected {
    border-color: steelblue !important;
}

.btn {
    border-radius: 26px;
}

input{
    border-radius:26px;
}

.test-planning{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    height: 38px;
    padding: 8px 24px;
    border-radius: 50px;
    background-image: linear-gradient(180deg,#7c8aff,#3c4fe0);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;
        

}

    .test-planning : hover {
        box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
    }

.form-control, .form-select {
    border-radius:26px;
    height: 44px;
    margin: 8px 0 15px;
}
.test-planning:active {
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
} 
</style>

<script src="~/js/EditDisplayCase.js"> </script>



